body{
    background-color: #7CFC00;
}
.main{
    width: 50%;
    margin: auto;
}
.main2{
    height: 200px;
}
.title h1{
    border: 2px solid white;
    border-radius: 5px;
    text-align: center;
    width: 100%;
    height: 45px;
    padding: 10px;
    background-color:#ADFF2F;
    text-shadow: 3px 0 0 white;
}
.iden, .main2{
    width: 103%;
    border: 2px solid white;
    border-radius: 5px;
}
.iden input, select{
    width: 40%;
    height: 20px;
    position: relative;
    top: -15px;
}
.lab1{
    position: relative;
    top: -15px;
    left: 60px;
}
.lab2{
    position: relative;
    top: -15px;
    left: 80px;
}
.lab3{
    position: relative;
    top: -15px;
    left: 66px;
}
.lab4{
    position: relative;
    top: -15px;
    left: 25px;
}
.in1{
    position: relative;
    left: 70px;
}
.in2{
    position: relative;
    left: 93px;
    height: 25px;
}
.in3{
    position: relative;
    left: 75px;
}
.in4{
    position: relative;
    left: 35px;
}
.div1{
    position: relative;
    top: -27px;
    left: 5px;
    width: 14%;
    background-color: #7CFC00;
    font-size: 1em;
}
.legend{
    position: relative;
    top: -13px;
    left: 5px;
    width: 10%;
    background-color: #7CFC00;
    font-size: 1em;
}
.min1{
    position: relative;
    left: 50px;
}
.min2{
    position: relative;
    left: 63px;
}
textarea{
    width: 95%;
    height: 40px;
    position: relative;
    left: 15px;
    
}
button{
    position: relative;
    bottom: -30px;
    left: 380px;
    border-radius: 25px;
    padding: 3px;
    width: 40%;
    background-color: black;
    color: #fff;
}
.part{
    position: relative;
    left: 30px;
}

