body{
    background: linear-gradient(150deg,	#2E8B57,#00FF7F);
    width: 100%;
    height:1000px;
}
.contain{
    
    width: 30%;
    height: 400px;
    margin: auto;
    border: 1px solid white;
    background-color: #fff;
    text-align: center;
    position: relative;
    bottom: -90px;
}
.conex{
    position: relative;
    bottom: -30px;
}
.conex h1{
    font-size: 1.2em;
}
.conex input{
    width: 60%;
    height: 40px;
}
.lien{
    border: 1px solid;
    width: 60%;
    height: 40px;
    position: relative;
    left: 75px;
    background: linear-gradient(150deg,	#2E8B57,#00FF7F);
}
.lien a{
    text-decoration: none;
    color: #fff;
    position: relative;
    bottom: -12px;
}
span{
    color:#2E8B57;

}