
body{
    background-color: #8DCF2F;

}
legend{
    border: 1px solid white;
    border-radius: 5px;
    padding: 10px;
    color: rgb(105, 100, 100);
    font-size: 1.5em;
    text-align: center;
    width: 50%;
    max-width: 100%;
    margin: auto;
    font-weight: bolder;
    position: relative;
    bottom: -60px;
}
.conec input,select{
    position: relative;
    left: 560px;
    width: 30%;
    height: 30px;
    display: flex;
}
.top{
    position: relative;
    bottom: -25px;
    left: 340px;
}
.left, .right{
    position: relative;
    bottom: -25px;
    left: 450px;
}
.bottom{
    position: relative;
    bottom: -25px;
    left: 408px;
}
.page{
    position: relative;
    top: -40px;
    left: 350px;
}
.lien{
    border: 1px solid rgba(0, 0, 0, 0.712);
    text-align: center;
    width: 10%;
    height: 30px;
    border-radius: 25px;
    background-color: rgba(0, 0, 0, 0.712);
    margin-left: 550px;
}
.lien a{
    text-decoration: none;
    color: white;
    position: relative;
    bottom: -5px;
}

